* {
    margin: 0;
}

header {
    text-align: center;

    margin: 0;
}
header img {
width: 300px ;
margin: auto;
}
nav{
    background-color: rgb(245, 239, 215);
    margin: 10px 0;
    border-top: solid 2px orange;
padding: 15px;
}
section h1 {
    text-align: center;
}
.P1 {
    margin: 0px 350px 0px 350px;
}
section img {
width: 800px;
height: 500px;
margin: 10px 35px 10px 350px;
border-radius: 10px;
}
.descrizioneimmagine {
margin: 10px 0px 0px 700px
}
.featured {
    margin: 10PX 0PX 0PX 350px;
    border-left: solid orange;
}
.featured2 {
margin: 0px 0px 0px 350px;
border-left: solid orange;
}
.ingredients {
    margin: 0 350px 0 350px;
    padding:10px 10px;
    line-height: 2.5em;

}
footer {
    margin: 10px 350px;
}
.ingredients h2 {
    border-bottom: solid;
}